/* #video {
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  z-index: 999999;
} */

.youtube-container {
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
} 

.youtube-container iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}